# Ignore Everything
*

# Except some stuff
!.gitignore
!*.class
!lib
!lib/*
!src
!src/*
!data_out/nple
!data_out/nple/*
!src/*/*
!src/*/*/*
!src/*/*/*/*
!src/*/*/*/*/*
!src/*/*/*/*/*/*
!src/*/*/*/*/*/*/*

