.idea/
lib/
**.iml
Documentation/
out/
datasets/
.Rproj.user
.RData
data_out/
datasets/
*.jar
DataAnalysisR/dist/R-Portable/App/R-Portable/library/
MarTVarD/src/META-INF/MANIFEST.MF
driftanalyse/build/
driftanalyse/.gradle/
