@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(sidebar: Html)(content: Html)(implicit messages: Messages, r: Request[_])

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.OverviewController.jsRoutes"></script>
    </head>
    <body>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">DriftMap</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@routes.OverviewController.analysisPage()">Dashboard</a></li>
                        <li><a href="@routes.OverviewController.aboutPage()">About</a></li>
                    </ul>
                    <!--
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>
                    -->
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            @sidebar
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @content
            </div>
        </div>

            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

    </body>
</html>
